#*#
*.dat*
*.sw[po]
*~
.DS_Store
.eprj
.rake_tasks~
.redcar
.repl_history
build
nbproject
pkg/*
resources/*.momd
resources/*.nib
resources/*.storyboardc
tags
.ruby-version
.ruby-gemset
Gemfile.lock
vendor/Pods
